body{
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* header 1 */

.header-1{
  margin: 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-image: url("images/images.jpg");
  background-size: cover;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  background-position-y: 0;
}

.h1-text{
  padding-top: 150px;
}

h1,
h2{
  padding: 10px 0 10px 0;
  border-radius: 10px;
  color: white;
}

h1{
  font-size: 40px;
  background-color: rgb(255, 212, 21);
  width: 320px;
  display: inline-block;
}

h2{
  margin: 0;
  background-color: hsl(34, 100%, 56%);
  width: 550px;
}

/* header 2 */
.header-2{
  text-align: center;
  align-items: center;
  background-color: rgb(243, 241, 241);
}

h3{
  font-size: 30px;
  padding: 40px 0 100px 0;
  margin: 0;
}

.h2-bottom-layout{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding-bottom: 30px;
}

.h2-left,
.h2-mid,
.h2-right{
  margin: auto;
}


.trailer-pic{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.trailer-title{
  font-size: 24px;
  font-weight: bold;
}

.trailer-desc{
  font-size: 22px;
  width: 200px;
}

/* header 3 */
.header-3{
  align-items: center;
  width: 600px;
  height: 380px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}
.card-box{
  display: flex;
  flex-direction: row;
  border: 3px solid rgb(130,211,255);
  background-color: rgb(115, 211, 255);
  border-radius: 15px;
  box-shadow: 6px 7px rgb(2, 134, 196);
}
.cat-pfp{
  padding: 20px 20px 15px 20px;
  width: 180px;
  height: 290px;
}

.card-right{
  padding: 30px 20px 15px 20px;
  text-align: center;
}

.guide-name{
  font-size: 28px;
  font-weight: 700;
}

.guide-thoughts,
.final-guide{
  font-size: 25px;
  font-weight: 400;
  padding-top: 20px;
}

@media (max-width: 520px){
  .trailer-title{
    font-size: 16px;
  }
}

@media(min-width: 1300px){
  .header-1{
    height: 650px;
    background-position-y: -80px;
  }
  .h1-text{
    padding-top: 220px;
  }
}